In [1]:
import time
import datetime
principio = datetime.datetime.now()
principio

datetime.datetime(2024, 1, 9, 20, 32, 43, 640561)

In [2]:
import pandas as pd

# Crear un DataFrame desde un diccionario
data = {'Modelo': ['ETS', 'ARIMA', 'TBATS', 'Neural Prophet'],
        'MAPE Diario': [0.2647, 0.3052, 0.3710, 0.3445]}

df = pd.DataFrame(data)

# Mostrar el DataFrame
df = df.sort_values(by='MAPE Diario')
df

           Modelo  MAPE Diario
0             ETS       0.2647
1           ARIMA       0.3052
3  Neural Prophet       0.3445
2           TBATS       0.3710

In [3]:
import pandas as pd

# Crear un DataFrame con los resultados
data = {'Metrica': ['MAPE', 'MSE', 'R2 Score'],
        'Valor': [0.2646999682186132, 27020314.698644344, 0.5927001089375472]}

df_resultados = pd.DataFrame(data)
df_resultados['Valor'] = df_resultados['Valor'].round(2)


# Mostrar el DataFrame con los resultados
df_resultados

    Metrica        Valor
0      MAPE         0.26
1       MSE  27020314.70
2  R2 Score         0.59

In [4]:
import pandas as pd

# Crear un DataFrame con los resultados
data = {'Metrica': ['MAPE', 'MSE', 'R2 Score'],
        'Valor': [0.07429382662294286, 12657.019795744287, 0.5896105768400857]}

df_resultados = pd.DataFrame(data)
df_resultados['Valor'] = df_resultados['Valor'].round(2)


# Mostrar el DataFrame con los resultados
df_resultados

    Metrica     Valor
0      MAPE      0.07
1       MSE  12657.02
2  R2 Score      0.59

In [5]:
final = datetime.datetime.now()
duracion = final-principio
print(principio)
print(final)
print(duracion)

2024-01-09 20:32:43.640561
2024-01-09 20:32:44.654810
0:00:01.014249