In [1]:
import time
import datetime
principio = datetime.datetime.now()
principio

datetime.datetime(2024, 1, 9, 20, 26, 6, 933076)

In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
from darts import TimeSeries
data = pd.read_csv('../data/datos sin días.csv')
series = TimeSeries.from_dataframe(data, 'Fecha', 'Billetes')
data

Bad key savefig.frameon in file C:\Users\manue\anaconda3\envs\TecnicasPrediccion\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 421 ('savefig.frameon : True')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.level in file C:\Users\manue\anaconda3\envs\TecnicasPrediccion\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 472 ('verbose.level  : silent      # one of silent, helpful, debug, debug-annoying')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

Bad key verbose.fileo in file C:\Users\manue\anaconda3\envs\TecnicasPrediccion\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle, line 473 ('verbose.fileo  : sys.stdout  # a log filename, sys.stdout or sys.stderr')
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.4.3/matplotlibrc.template
or from the matplotlib source distribution

           Fecha  Billetes
0     2013-01-01      2338
1     2013-01-02      9376
2     2013-01-03      9190
3     2013-01-04      9523
4     2013-01-05      5492
...          ...       ...
1456  2016-12-27     23928
1457  2016-12-28     23960
1458  2016-12-29     24279
1459  2016-12-30     22763
1460  2016-12-31      5346

[1461 rows x 2 columns]

In [3]:
train, val = series.split_before(pd.Timestamp('2016-11-30'))

In [4]:
from darts.models import TBATS
model = TBATS(
use_box_cox=None,
box_cox_bounds=(0, 1), #MANU: valors mínimos y máximos de la transformación
use_trend=None,
use_damped_trend=None,
seasonal_periods="freq",
use_arma_errors=False,
show_warnings=False,
multiprocessing_start_method='spawn',
random_state=0)
# model = TBATS()

The prophet module could not be imported. To enable support for Prophet model, follow the instruction in the README: https://github.com/unit8co/darts/blob/master/INSTALL.md

In [5]:
model.fit(train)
forecast = model.predict(len(val))

In [6]:
from darts.metrics import mape
print("model {} obtains MAPE: {:.2f}%".format(model, mape(val, forecast)))

model TBATS(use_arma_errors=False) obtains MAPE: 37.10%

Sin parámetros: 43,07

Con parámetros: 37,10

In [7]:
final = datetime.datetime.now()
duracion = final-principio
print(principio)
print(final)
print(duracion)

2024-01-09 20:26:06.933076
2024-01-09 20:26:50.927507
0:00:43.994431